html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	@include poppins-regular();
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
	&:hover {
		text-decoration: none;
		list-style: none;
	}
}

* {
	@include poppins-regular();
}

html,
body {
	background: $sec05;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

input {
	padding: 5px 10px;
	border-radius: 5px;
	width: 100%;
	border: 1px solid $black;
}

.pages {
	min-height: calc(100vh - 248px);
}


.show-hide-scrollbar {
	overflow: hidden;
}

.logo {
	img {
		max-height: 60px;
		width: auto;
	}
	span {
		margin-left: 15px;
	}
}

.text {
	line-height: 1.2;
	text-transform: initial;
	margin: 0;
	padding: 0;
	@include poppins-regular();
	@include fluid-type(320px, 375px, 12px, 14px);
	&.bigtitle {
		line-height: 1.4;
		@include poppins-bold();
		@include fluid-type(992px,1680px,40px,65px);
	}
	&.title {
		@include poppins-bold();
		@include fluid-type(992px, 1680px, 25px, 35px);
	}
	&.subtitle {
		@include poppins-bold();
		@include fluid-type(992px, 1680px, 16px, 20px);
	}
	&.headertext {
		@include poppins-bold();
		@include fluid-type(992px, 1680px, 14px, 16px);
	}
	&.logotitle {
		line-height: 1;
		font-size: 30px;
		@include lobster-extra-bold();
	}
	&.logotext {
		line-height: 1;
		font-size: 20px;
		white-space: nowrap;
		@include lobster-regular();
	}
	&.uppercase {
		text-transform: uppercase;
	}
	&.black {
		color: $black;
	}
	&.white {
		color: $white;
	}
	&.base-color {
		color: $base-color;
	}
	&.sec-color {
		color: $sec-color;
	}
	&.third-color {
		color: $third-color;
	}
}

@media (max-width: 991px) {
	.pages {
		min-height: calc(100vh - 257px);
	}

	.text {		
		&.bigtitle {
			@include fluid-type(320px, 576px, 25px, 40px);
		}
		&.title {
			@include fluid-type(320px, 576px, 18px, 25px);
		}
		&.subtitle {
			@include fluid-type(320px, 576px, 14px, 16px);
		}
	}

}