/*======COLORS======*/
$base-color: #003399;
$sec-color: #3399FF;
$third-color: #3366CC;
$grey: #DADADA;
$red: #EF4136;
$green: #28a745;
$yellow: #ffe600;
$white: #FFFFFF;
$black: #000000;

$red15: rgba(239, 65, 54, 0.15);
$red35: rgba(239, 65, 54, 0.35);
$green15: rgba(40, 167, 69, 0.15);
$green35: rgba(40, 167, 69, 0.35);
$yellow15: rgba(255, 230, 0, 0.15);
$yellow35: rgba(255, 230, 0, 0.35);

$base05: rgba(0, 51, 153, 0.05);
$base10: rgba(0, 51, 153, 0.1);
$base15: rgba(0, 51, 153, 0.15);
$base50: rgba(0, 51, 153, 0.5);

$sec05: rgba(51, 153, 255, 0.05);
$sec15: rgba(51, 153, 255, 0.15);
$sec50: rgba(51, 153, 255, 0.5);

$third05: rgba(51, 102, 204, 0.05);
$third15: rgba(51, 102, 204, 0.15);
$third50: rgba(51, 102, 204, 0.5);


$white15: rgba(241, 242, 242, 0.15);
$white50: rgba(241, 242, 242, 0.5);


$black05: rgba(0,0,0,0.05);
$black10: rgba(0,0,0,0.1);
$black15: rgba(0,0,0,0.15);
$black50: rgba(0,0,0,0.5);

/*======BACKGROUND COLORS======*/
$background-black:#000;
$background-white:#FFFFFF;
$background-gray:#DADADA;

/*======FONTS======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@mixin poppins-bold() {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@mixin poppins-regular() {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@mixin poppins-light() {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

@mixin lobster-extra-bold() {
    font-family: 'Lobster', cursive;
    font-weight: 900;
}

@mixin lobster-regular() {
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
