

.home-content {
	padding: 50px 0;
	.home-content-infos {
		.home-content-infos-item {
			padding: 50px 0;
			.home-content-infos-text {
				h4 {
					padding-top: 50px;
				}
			}
		}
	}
}
